<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".Presentacion.MainUpDetalleNotaVenta"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainDetalleNotaVenta"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainAddNotaVenta"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainActivityNotaVenta"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainUpDelProducto"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainActivityProducto"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainAddProducto"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainUpDelVendedor"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainAddVendedor"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainActivityVendedor"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainUpDelCategoria"
            android:exported="false" />
        <activity
            android:name=".Presentacion.Categoria"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainActivityCategoria"
            android:exported="false" />
        <activity
            android:name=".Presentacion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>